@use 'src/styles/vars';

/*-------------------------------------------------- 
                MODALS
---------------------------------------------------*/
.modal {
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.6);
}

/*-------------------------------------------------- 
                LIST / CARD MODAL
---------------------------------------------------*/

.list-modal-form,
.card-modal-form {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &_input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 10px;
    font-family: inherit;
    box-shadow: vars.$Shadow;
  }

  &_button {
    border: none;
    outline: none;
    width: 160px;
    border-radius: 5px;
    height: 30px;
    font-family: inherit;
    margin-top: 20px;
    box-shadow: vars.$Shadow;
  }
  &_text {
    margin: 20px 0 10px 0;
  }
}

/*-------------------------------------------------- 
                SIGNUP MODAL
---------------------------------------------------*/

.signup-form {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(95px);

  &_input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 10px;
    font-family: inherit;
    box-shadow: vars.$Shadow;
  }

  &_button {
    border: none;
    outline: none;
    width: 160px;
    border-radius: 5px;
    height: 30px;
    font-family: inherit;
    margin-top: 20px;
    box-shadow: vars.$Shadow;
  }
  &_text {
    margin: 20px 0 10px 0;
  }
}

/*-------------------------------------------------- 
                   DARK / LIGHT THEME
---------------------------------------------------*/

// dark mode
.list-modal-form--dark,
.card-modal-form--dark,
.signup-form--dark {
  background-color: vars.$VeryDarkDesaturatedBlue;
  color: vars.$LightGrayishBlue;
}

.signup-form_button--dark {
  background-color: vars.$VeryDarkBlue;
  color: vars.$LightGrayishBlue;
}

// light mode
.list-modal-form--light,
.card-modal-form--light,
.signup-form--light {
  background-color: vars.$VeryLightGrayishBlue;
  color: vars.$VeryDarkBlue;
}

.signup-form_button--dark {
  background-color: vars.$VeryDarkBlue;
  color: vars.$LightGrayishBlue;
}
