@use 'src/styles/vars';

.list_filter {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 45px;
  padding: 0 50px 0 50px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: inherit;
  font-size: 16px;
}

.link {
  font-weight: 700;
  color: vars.$DarkGrayishBlue;
}

.link:hover {
  color: vars.$BrightBlue;
}

.link-active {
  color: vars.$BrightBlue;
}
